@charset "UFT-8";

/* 共通部分 */
html {
  font-size: 100%;

  body {
    font-family: sans-serif, "メイリオ", "Meiryo";
    line-height: 1.7;
    text-align: center;
    & * {
      box-sizing: border-box; /*padding,borderはwidthに含む*/
    }
    & * a {
      text-decoration: none; /*下線引かない*/
      display: block; /*ブロック要素に*/
      color: #000;
    }
    img {
      max-width: 100%;
    }

    /*header*/
    header {
      height: 70px;
      width: 100%;
      background-color: #da6a36;
      position: fixed;
      top: 0;
      left: 0;

      /* いい感じに真ん中寄せ */
      .wrapper {
        height: 70px;
        width: 92%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1100px;
        margin: 0 auto;
        a {
          img {
            padding-top: 8px;
            width: 210px;
          }
        }
        nav {
          @media (max-width: 600px) {
            /* ヘッダーのリスト非表示 */
            display: none;
          }
          .main-nav {
            margin: 0 0 0 auto;
            display: flex;
            font-size: 1.25rem;
            text-transform: uppercase;
            list-style: none;
            li {
              margin-right: 20px;
              a {
                display: block;
                color: white;
                &:hover {
                  color: rgb(197, 197, 197);
                }
              } //a
            } //li
          } //main-nav
        } //nav
        .hamburger-menu {
          @media (min-width: 601px) {
            display: none;
          }
        }
      } //wrapper
    } //header

    main {
      max-width: 1100px;
      // margin: 0 auto;
      width: 92%;
      height: calc(100vh - 120px);
      position: fixed;
      top: 70px;
      left: 4%;
      @media (max-width: 600px) {
        padding: 0;
        width: 92%;
      }
      .return {
        // margin: 90px 0 20px 20px;
        margin: 20px 0 20px 20px;

        height: 50px;
        width: 90px;
        a {
          display: block;
          height: 100%;
          width: 100%;
          line-height: 50px; /* ボックス内、上下中央寄せ */
          font-size: 1.2rem;
          color: #fff;
          background-color: #da6a36;
        }
      } //return

      /* widthやheightの値は要カスタマイズ */
      .model-viewer {
        margin: 0 auto;
        width: 100%;
        height: calc(100vh - 310px);
        background-color: #fff;
        position: relative;
        .model-viewer-btn {
          position: absolute;
          right: 0;
          top: 0px;
          width: 160px;
          height: 30px;
          font-weight: bold;
          line-height: 30px;
          color: white;
          background-color: #da6a36;
          border: none;
        } //model-viewer-btn
      } //model-viewer

      .icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 100px;
        a {
          display: block;
          width: 33%;
          height: 50px;
          img {
            height: 50px;
          }
        }
      } //icons
    } //main

    footer {
      background-color: #ccc;
      color: black;
      height: 50px;
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    } //footer
  } //body
} //html

/*ハンバーガー----------------------------------------------------------------------------*/

/* ボタン実装 */
.menu-btn {
  position: fixed;
  top: 0;
  right: 10px;
  display: flex;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  z-index: 8;
  background-color: #da6a36;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

/* ボタンの×マーク */
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(
    255,
    255,
    255,
    0
  ); /*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}
.unshown {
  display: none; /* チェックボックス隠す */
}

/* メニュー装飾 */
.menu-content ul {
  padding: 36px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 70%;
  font-size: 15px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  margin-bottom: 5px;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  background-color: #da6a36;
}
/* メニューをいったん外へ */
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 70px;
  left: 100%; /*leftの値を変更してメニューを画面外へ*/
  z-index: 7;
  background-color: #da6a36;
  transition: all 0.2s; /*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
  top: 70px;
  left: 30%; /*ボタンタップでメニューを画面内へ*/
}
/*閉じる用の薄黒箇所*/
#nav-close {
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}
/* 黒いとこいったん外へ */
#nav-close {
  position: fixed;
  z-index: 11;
  top: 70px;
  right: 100%; /*rightの値を変更してメニューを画面外へ*/
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  transition: all 0.2s; /*アニメーション設定*/
}
/*チェックがついたら表示させる*/
#menu-btn-check:checked ~ #nav-close {
  top: 70px;
  right: 70%; /*ボタンタップでメニューを画面内へ*/
  display: block;
}
/* ここまでハンバーガー--------------------------------------------------- */
